#jinja2: lstrip_blocks: "True", trim_blocks: "True"
- clock timezone {{ clock_configuration.timezone_id }} {{ clock_configuration.offset_hours }} {{ clock_configuration.offset_minutes }}
- clock summer-time {{ clock_configuration.summer_timezone_id }} 2 Sunday March 02:00 1 Sunday November 02:00 60