#jinja2: lstrip_blocks: "True", trim_blocks: "True"
servers:
    {% for server in ntp_servers %}
    - server: {{ server.server }}
      vrf: {{ server.vrf | default('default') }}
      {% if server.prefer is defined and server.prefer %}
      prefer: {{ server.prefer }}
      {% endif %}
    {% endfor %}
source_interface: {{ ntp_source_interface | default('mgmt0') }}